
.container {
    max-width: 100%;
}
.left-sidebar{
  width:285px;
}
.page-wrapper {
    margin-left: 292px;
}

.scroll-sidebar {

    width: 260px;
}

.switchery{
 /* width:100% !important; */
  display:block;
  margin:0px auto !important;
}


#roles .switchery{
 width:50px !important;
}
table.dataTable thead>tr>th{

	padding: 12px 30px 12px 12px;
}

#dashboard .knob-icon i{
	    top: 22px;
    left: 23px;
}



#myTable_wrapper .page-item.active .page-link {
    z-index: 1;
    color: #fff;
    border-color: #003c69 !important;
    background-color: #003c69 ;
}
#myTable_wrapper .page-link, #myTable_wrapper .page-link:hover{
    position: relative;
    display: block;
    padding: .5rem .75rem;
    margin-left: -1px;
    line-height: 1.25;
    color: #003c69;
    background-color: #fff;
    border: 1px solid #dee2e6;
}
#myTable_wrapper .dataTables_wrapper .dataTables_paginate .paginate_button:hover{
	border: none !important;
}

.page-item.active .page-link {
    z-index: 1;
    color: #fff;
    border-color: #7a86ff;
    background-color: #7a86ff;
}

.page-link {
    color: #141414;
    border: 1px solid #e5e8eb;
}

.page-link:hover {
    text-decoration: none;
    color: #7a86ff;
    border-color: #e5e8eb;
    background-color: #e5e8eb;
}
table.table-striped tbody tr:nth-of-type(odd) {
    background: rgba(0, 0, 0, .02) ;
}
#sidebarnav a span {
    text-transform: uppercase;
}
.mr-16{
    margin-right: 16px !important;
}
.mr-17{
    margin-right: 17px !important;
}
.mr-15{
    margin-right: 15px !important;
}
.btn-1{
    /*color: #fff;
    background-color: #fd397a;
    border-color: #fd397a;*/
}
.btn-2{
    color: #fff;
    background-color: #5867dd;
    border-color: #101439;
}

.btn-3{
    background-color: #35d7d8 !important;
    border-color: #1aadae !important;
}

#dashboard .knob-icon i.ml-28{
    left: 28px;

}
#dashboard .knob-icon i.ml-19{
    left: 19px;

}

#dashboard .knob-icon i.t-23{
     top: 23px;

}

#dashboard .knob-icon i.l-25{
     left: 25px;

}

button.btn.btn-success.btn-add.inline.button-cutom-settings {
    margin-top: 30px;
    margin-left: 30px;
}

.help-block {
    color: red;
}

table.table thead{
    text-transform: uppercase;
} 

form label{
    font-weight: 600 !important;
    text-transform: uppercase;
}
.white-box .box-title.pull-left{
        padding-bottom: 43px;
}
/*table.table tbody td .btn.btn-sm{
        margin-bottom: 7px;
    margin-top: 6px;
}*/

table.table th{
    text-transform: uppercase;
}